<%- include('../templates/header.ejs') %>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <h1>Page Product</h1>
                <a href="">Add Product</a>
                <table border="1">
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Coba</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Coba</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Coba</td>
                        <td>19</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <%- include('../templates/footer.ejs') %>